version: "3.8"
services:
  jenkins:
    build: .
    container_name: jenkins-server
    privileged: true
    hostname: jenkinsserver
    user: root
    ports: 
      - "8080:8080"
      - "50000:50000"
    #networks:
    #  Aurora-Labs-Ex-net:
    #    aliases: 
    #      - Aurora-Labs-Ex-net
    volumes: 
     - jenkins-data:/var/jenkins_home
     - /var/run/docker.sock:/var/run/docker.sock

  #agent:
  #  image: jenkins/ssh-agent:jdk11
  #  privileged: true
  #  user: "${{ secrets.AGENT_ADMIN_ID }}"
  #  container_name: agent
  #  expose:
  #    - 22
     
volumes: 
  jenkins-data:

#networks:
#  Aurora-Labs-Ex-net: