name: Docker Compose Up

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Docker
        uses: docker/setup-docker@v1

      - name: Build and run containers
        run: docker-compose up -d

      - name: Install ngrok
        run: |
          wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
          unzip ngrok-stable-linux-amd64.zip

      - name: Start ngrok
        run: ./ngrok http 8080

      - name: Print ngrok public URL
        run: echo "ngrok public URL:${{ steps.ngrok.outputs.public_url }}"
